#Education {
  padding: 50px 15px 20px 15px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center;
  h2 {
    color: #374054;
    margin-bottom: 50px;
  }
}

.education-content {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #dcd9d9;
  text-align: left;

  h3 {
    font-weight: 500;
    float: left;
    margin: 0;
    color: #374054;
  }

  h4 {
    color: #74808a;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0;
  }

  p {
    margin: 0;
    color: #74808a;
    font-size: 0.9em;
  }

  .education-date {
    color: #74808a;
    float: right;
  }
}




