<div id="Experience" class="secondary-background">
    <mat-grid-list cols="1" rowHeight="1:1">
        <h2 class="heading">
            Experience
        </h2>
        <div id="timeline">
           <div *ngFor="let item of data" class="timeline-item">
            <div class="timeline-icon">
              <i class="fa fa-map-marker"></i>
            </div>
            <div>
              <span class="timeline-date">
                {{ item.startDate }} - {{ item.endDate }}
              </span>
              <div class="timeline-content">
                <h3>{{ item.employer }}</h3>
                <h4>{{ item.title }}</h4>
                <p>{{ item.description }}</p>
              </div>
            </div>
           </div>
        </div>
    </mat-grid-list>
</div>
