<div id="Contact">
  <h2 class="heading-secondary">Contact Me</h2>
  <form method="POST" action="https://formspree.io/coltinkifer19@gmail.com">
    <input type="hidden" name="_subject" value="coltinkifer.com contact!" />
    <input name="_replyto" matInput placeholder="Email..." required />
    <br />
    <textarea
      name="message"
      matNativeControl
      id="message"
      placeholder="Message..."
      required
    ></textarea>
    <br />
    <button type="submit" mat-button color="primary">Send Message</button>
  </form>
</div>
